Server/NodeRED-FLOW.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Motorrad",
        "disabled": false,
        "info": ""
    },
    {
        "id": "73b65f2b52072e91",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":23,\"hum\":98.8,\"bat_voltage\":12.7}",
        "payloadType": "json",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "29e83ce5c363a120"
            ]
        ]
    },
    {
        "id": "29e83ce5c363a120",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "motorrad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4e88d442e3ae80c",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "71170bf1110a2505",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "motorrad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c4e88d442e3ae80c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "458f0971441f1625"
            ]
        ]
    },
    {
        "id": "f69f4ac918530dd0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "bdba4690bbf04ddf",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1b53e5291df640e8",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Lufttemperatur",
        "label": "°C",
        "format": "{{msg.payload.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00fbff",
            "#00e645",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "4902feb6719e74a1",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1b53e5291df640e8",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{msg.payload.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "af5e822388abce17",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1b53e5291df640e8",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Batteriespannung",
        "label": "V",
        "format": "{{msg.payload.bat_voltage}}",
        "min": "10",
        "max": "14",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff40"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "458f0971441f1625",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Inject Timestamp",
        "func": "msg.payload.timestamp = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 400,
        "wires": [
            [
                "bdba4690bbf04ddf",
                "4902feb6719e74a1",
                "af5e822388abce17",
                "f69f4ac918530dd0",
                "a9388691148b1fd8",
                "1383204a6cc6a758"
            ]
        ]
    },
    {
        "id": "6a04956793b8d017",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Projektbeschreibung",
        "info": "# Motorrad überwachung beim Überwintern",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9388691148b1fd8",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "1b53e5291df640e8",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Uhrzeit",
        "format": "{{msg.payload.timestamp}}",
        "layout": "row-center",
        "className": "",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "049ddf100300c8ed",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Test Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "1383204a6cc6a758",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Alerting",
        "func": "var newMsg;\n\n\n// Tempraturalarm\nif(msg.payload.temp < 0){\n    newMsg = { payload: \"Achtung Wasser könte Gefrieren!\"};\n}\n\n\n// Luftfeuchtigkeitsalarm\nif (msg.payload.hum > 70) {\n    newMsg = { payload: \"Motorrad muss an die Frische Luft!\"};\n}\n\n\n// Batteriealarm\nif (msg.payload.bat_voltage < 12) {\n    newMsg = { payload: \"Motorrad braucht dringends ein bischen Strom!\"};\n}\n\n//newMsg = { payload: \"Achtung Wasser könte Gefrieren!\" };\n\nreturn [msg, newMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "049ddf100300c8ed"
            ],
            [
                "049ddf100300c8ed"
            ]
        ]
    },
    {
        "id": "c4e88d442e3ae80c",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b53e5291df640e8",
        "type": "ui_group",
        "name": "Motorrad",
        "tab": "53ca0d86aec28061",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53ca0d86aec28061",
        "type": "ui_tab",
        "name": "Motorrad",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]